.info-banner{
    width: 100%;
    min-height: 364px;
    height: 100%;
    background-color: #5A32A8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
        &:nth-child(1) {
            left: 0;
            top: 0;
            position: absolute;
        }
        &:nth-child(2) {
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }
    .info-banner-content {
        text-align: center;
        h1 {
            color: white;
            line-height: 45px;
            font-size: 30px;
            margin-bottom: 45px;
        }
        p {
            font-size: 14px;
            color: white;
            line-height: 25px;
        }
        button{
            &.info-banner-btn {
                padding: 15px 20px;
                background-color: white;
                color: #5A32A8;
                font-size: 14px;
                border: none;
                margin-top: 45px;
                border-radius: 9px;
            }
        }
    }
}