.map {
    margin-top: 103px;
    margin-bottom: 87px;
   .map-content {
    .map-heading {
        text-align: center;
        margin-bottom: 87px;
        h2 {
            font-size: 30px;
            line-height: 45px;
            color: #0D0D0D;
            margin-bottom: 2px;
            font-family: Lato;
        }
        p {
            font-size: 14px;
            line-height: 25px;
            font-family: Helvetica;
        }
    }
    .map-img {
        img {
            width: 100%;
        }
    }
   }
}