.banner {
    background-image: url('../../images/banner.png');
    width: 100%;
    min-height: 767px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    @media(max-width:920px) {
        background-image: none;
     }
    .banner-inner {
        display: flex;
        align-items: center;
        margin-top: 60px;
        @media(max-width:920px) {
            flex-direction: column;
         }
        .banner-desc {
            max-width: 487px;
            width: 100%;
            margin-right: 96px;
            padding: 0 10px;
            @media(max-width:920px) {
                text-align: center;
                margin-right: 0;
                margin-top: 100px;
            }
            h1 {
                font-size: 40px;
                color: #0D0D0D;
                line-height: 48px;
                font-family: lato;
                @media(max-width:920px) {
                   font-size: 24px; 
                }
            }
            p {
                font-size: 14px;
                color: #0D0D0D;
                line-height: 25px;
                margin: 36px 0;
                font-family: Helvetica;
                @media(max-width:920px) {
                    margin: 10px 0 15px; 
                 }
            }
            .banner-desc-btn {
                background-color: #5A32A8;
                border-radius: 9px;
                border: none;
                padding: 15px 20px;
                color: white;
                outline: none;
                font-family: Helvetica;
            }
        }
        img {
            max-width: 390px;
            width: 100%;
            @media(max-width:920px) {
                max-width: 300px;
                margin:50px auto 0;
             }
        }

    }
}
.main-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}